* { /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body{
  background: no-repeat center center fixed;
  background-image: url('assets/freedom.jpg');
  background-size: cover;
}
.quote-block{
  margin: 7vmax 10vmax 3vmax;
  padding: 1vmax;
}
.quote{
  color: rgba(75, 75, 75, .8);
  font-family: 'Quicksand', sans-serif;
  font-size: 2.3vmax;
  text-align: center;
  text-transform: uppercase;
}
.cite{
  padding: 3vmax;
  color: rgba(50, 50, 50, .8);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vmax;
  text-align: center;
}
table{
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  position: fixed;
  margin-left: 35%;
  margin-right: 35%;
  bottom: 5%;
  font-family: "Times New Roman", Times, serif;
  font-size: 1vmax;
}
a{
  color: black;
}
a:hover{
  color: white;
}
a:active{
  color: lightpink;
}
